#menu {
  width: 100%;
}

.accordion-button {
  background-color: #222529;
  color: white;
}

.accordion-button:hover {
  background-color: #e6c251;
}

.accordion-button::after {
  filter: grayscale(1) brightness(5);
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #222529;
}

.accordion-button.episode {
  background-color: #464b54;
}

.accordion-button.episode:hover {
  background-color: #e6c251;
}

.accordion-button.episode:not(.collapsed) {
  background-color: #464b54;
}

.accordion-button.operation {
  background-color: #5d6773;
}

.accordion-button.operation:hover {
  background-color: #e6c251;
}

.accordion-button.operation:focus {
  background-color: #e6c251;
}

.accordion-button.operation::after {
  opacity: 0;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
}

#sprite_container {
  position: relative;
  width: 300px;
  height: 350px;
  z-index: 1000;
}

#sprite {
  position: absolute;
  left: 50%;
  height: 350px;
  width: 350px;
  margin-right: -220px;
  margin-left: -220px;
  padding-right: 220px;
  padding-left: 220px;
}

#about_modal_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  transform: translate(-50%, -50%);
}

#about_modal_btn:hover {
  cursor: pointer;
}

#footer {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
}

#footer .footer-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

/* Desktop */
@media (min-width: 768px) {
  #menu {
    width: 300px;
  }

  #content {
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  #search_form {
    width: 300px;
  }
}

/* Mobile */
@media (max-width: 768px)  {
  #display-records {
    margin-top: 3rem;
  }

  #default-content {
    margin-top: 3rem;
  }

  #fold_menu_btn:hover {
    background-color: #e6c251;
  }
}

@media (max-width: 768px)  {
  #display-records {
    margin-top: 3rem;
  }

  .btn.position-fixed.bottom-0.end-0.d-md-none {
    color: rgba(255,255,255,0.9);
    background-color: #606772;
  }

  .btn.position-fixed.bottom-0.end-0.d-md-none:hover {
    color: white;
    background-color: #e6c251;
  }
}

#default-content {
  background-color: #222529;
}

.dark-div {
  background-color: rgba(34, 37, 41, 0.8);
  opacity: 0.9;
}

.motto {
  font-family: 'Lucida Sans', 'Lucida Sans Regular','Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p.text-white a {
  color: white;
  text-decoration: none;
}

.btn-current {
  background: linear-gradient(126deg, rgba(0, 22, 110,0.9), rgba(135,37,46,0.9) 80% );
  background-size: 130% 150%;
  transition: 0.5s;
}

.btn-current:hover {
  background-position: right center;
  text-decoration: none;
}

.latest-news {
  margin-bottom: 1rem;
}

.btn-news {
  position: relative;
  color: white;
  padding: 0.375rem 1rem ;
  opacity: 0.7;
}

.btn-news:after {
  content: "";
  position: absolute;
  top:100%;
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: grey transparent transparent transparent;
  opacity: 0.7;
}

.btn-news:hover {
  color: white;
  opacity: 1;
}

@media (min-width: 768px) {
  .latest-news {
    position: absolute;
    left: 100%;
    transform: translateX(20%);
    height: 3.25rem;
    z-index: 200;
  }

  .btn-news {
    height: 2.375rem;
    white-space: nowrap;
    align-self: center;
    opacity: 1;
  }

  .btn-news:after {
    content: "";
    position: absolute;
    top:50%;
    left: -9%;
    margin-top: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent grey transparent transparent;
    opacity: 0.7;
  }
}

@media (min-width: 1550px) {
  .latest-news {
    position: absolute;
    left: 0;
    transform: translateX(-115%);
    height: 3.25rem;
  }

  .btn-news {
    height: 2.375rem;
    align-self: center;
  }

  .btn-news:after {
    content: "";
    position: absolute;
    top:50%;
    left: 109%;
    margin-top: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color:  transparent transparent transparent grey;
    opacity: 0.7;
  }
}

.btn-news {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
